.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}
.negro{
    background: #000;
}

.nav-tabs .nav-item .nav-link.active{
    background-color: rgba(255,255,255,0.2);
    border-color: transparent;
    color: black;
}

.nav-tabs .nav-item .nav-link{
    color: rgba(0,0,0,0.5);
}

.nav-tabs .nav-item .nav-link:hover{
    border-color: transparent;
}

.md-form .fas.active {
    color: #ffc107;
}

.md-form input[type="email"]:focus:not([readonly]), .md-form input[type="password"]:focus:not([readonly]), .md-form input[type="text"]:focus:not([readonly]){
    box-shadow: 0 1px 0 0 #ffc107;
    border-bottom: 1px solid #ffc107;
}

.md-form input[type="email"]:focus:not([readonly]) +label, .md-form input[type="password"]:focus:not([readonly])+label, .md-form input[type="text"]:focus:not([readonly])+label{
    color: #cc9900;
}

.mt-6{
    margin-top: 5rem !important;
}

.p-6{
    padding: 6px 6px 6px 6px !important;
    height: 40px;
}

.card .btn-action {
    margin-top: -1.44rem;
    margin-bottom: -1.44rem;
}

a.waves-effect, a.waves-light {
    display: inline-block;
}

.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 
rgba(0,0,0,0.18),0 4px 15px 0
    rgba(0,0,0,0.15);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 47px;
    height: 47px;
}

.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    color: 
    #fff;
    text-align: center;
}

.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
}